.header{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

/* Logo Lokmat CSS Start */
.logo{
    width: 250px;
    height: 60px;
    margin-left: 39%;
    padding-bottom: 0px;
}
/* Logo Lokmat CSS End */


/* Nav Bar CSS Start */
.nav{
    display: flex;
    padding-top: 1rem;   
}

.nav-item{
    text-decoration: none;
    margin-right: 5rem;
    font-family:'Times New Roman', Times, serif; 
    color: black;  
}

.nav{
    width: 100%;
    height: 40px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(216, 216, 216, 0.3);  
}
/* Nav Bar CSS End */


.date{
    display: flex;
    justify-content: center;
    color: rgb(80, 80, 80);
    font-size: small;
}

body{
    background-color: rgba(245, 237, 237, 0);
}

.main{
    width: 100%;
    height: 1700px;
    background-color: rgba(244, 240, 240, 0.409);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(178, 178, 178, 0.3);
}

.marquee1{
    padding: 20px;
}

.news1{
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    float: left;
    margin-right: 50px;
}
.a1{
    float: left;
    margin-right: 40px;
}
.vijay{
    float: left;
    margin-right: 40px;
}
.rajendra{
    float: left ;
    margin-right: 40px;
}

.devendra{
    float: left ;
    margin-right: 40px;
}
.rishi{
    float: left ;
    margin-right: 40px;
}

.ashok{
    float: left ;
    margin-right: 40px;

    
}
.mission{
 margin-left: 50%;
 margin-top: -12%;
 margin-bottom: 10%;
}

