.header{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

body {
    background-color: #FFFFFF}

/* Logo Lokmat CSS Start ;*/

.logo{
    width: 250px;
    height: 60px;
    margin-left: 39%;
    padding-bottom: 0px;
}
/* Logo Lokmat CSS End */



/* Nav Bar CSS Start */
.nav{
    display: flex;
    padding-top: 1rem;   
}

.nav-item{
    text-decoration: none;
    margin-right: 5rem;
    font-family:'Times New Roman', Times, serif; 
    color: black;  
}

.nav{
    width: 100%;
    height: 40px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(216, 216, 216, 0.3);  
}
/* Nav Bar CSS End */

.date{
    display: flex;
    justify-content: center;
    color: rgb(80, 80, 80);
    font-size: small;
}

.text {
  -ms-flex: 1;
      flex: 1;
  padding-left: 20px;
}


.main{
justify-align:center ;
    width: 96%;
    height: 100%;
    background-color:   #FFFFFF;
    border-radius: 10px;
    box-shadow: 100 px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 30px solid rgba(178, 178, 178, 0.3);
}


h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: #2d2d2d;
    text-align: center;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #2d2d2d;
    line-height: 1.5;
}

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #4b8cfb;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
.contact-info {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
}
.gray-bg-1 {
  background-color: var(--px-gray-1);
}
.map{
    
   margin-left:30%;
    margin-top: -310px;
}
