.header{
    position: relative;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

/* Logo Lokmat CSS Start */
.logo{
    width: 250px;
    height: 60px;
    margin-left: 41%;
    padding-bottom: 0px;
    
}
/* Logo Lokmat CSS End */


/* Nav Bar CSS Start */
.nav{
    display: flex;
    padding-top: 1rem;  
    
}

.nav-item{
    text-decoration: none;
    margin-right: 5rem;
    font-family:'Times New Roman', Times, serif; 
    color: black;  
    font-family: Verdana, arial, sans-serif; 
}

.nav{
    width: 100%;
    height: 40px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(216, 216, 216, 0.3);  
}
/* Nav Bar CSS End */

.date{
    display: flex;
    justify-content: center;
    color: rgb(80, 80, 80);
    font-size: small;
}

/* .news1{
    float: left;
    margin-right: 10px;
} */

.news1{
    width: 28rem;
    height: 20rem;
    border-radius: 10px;
    float: left;
    margin-right: 50px;
    box-shadow: 1px 1px 1px rgb(185, 185, 185);
}

.news-data{
    font-family: Verdana, arial, sans-serif;
}

body{
    font-size: 1.1rem;
   
}

.sec-data{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sec-right{
    position: absolute;
    right: 2%;

    

}

.verticle-line{
    width: 2px;
    height: 720px;
    background-color: rgb(174, 174, 174);
    position: absolute;
    right: -15%;
    top: 8%;
}

.marquee1{
    padding: 20px;
    font-family: Verdana, arial, sans-serif;
}

.BJP{
    color: red;
}

.sec-left{
    position: absolute;
    left: 2px;
}

.youtube{
    float: right;
    width: 30rem;
    border-radius: 10px;
    margin: 2rem;
    
}

.twitter{
    font-size: 0.8rem;
    float: left;
    margin-left: 20px;
    width: 10rem;
    height: 15.5rem;
    border-radius: 10px;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(107, 107, 107, 0.3);
    font-family: Verdana, arial, sans-serif;
}

.twitter-div-font{
    font-size: 0.5rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-top: 1rem;
}

.twitter-id{
    font-size: 0.6rem;
}

.div-img{
    width: 9.5rem;
    border-radius: 10px;
    padding: 5px
}

.icon-twitter{
    width: 2rem;
    height: 2rem;
    float: left;
    margin-right: 0.2rem;
    font-size: 100px
}

.main{
    width: 100%;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(178, 178, 178, 0.3);
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;

  }

  .gallery{
    position: absolute;
    top: 110%;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap; */
    width: 3rem;
    height: 1rem;
    border: 2px solid black;

}

  .epaper{
    transition: 1s ease;
    width: 15rem;
    height: 8.5rem;
    margin: 10px;
    border: 2px solid red;
    transition: 1s ease-in-out;
}

.epaper:hover{
    width: 17rem;
    height: 9rem;
    margin: 10px;
    border: 2px solid red;
    transform: rotate(-30deg);
 
}




