.header{
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

/* Logo Lokmat CSS Start */
.logo{
    width: 250px;
    height: 60px;
    margin-left: 39%;
    padding-bottom: 0px;
}
/* Logo Lokmat CSS End */


/* Nav Bar CSS Start */
.nav{
    display: flex;
    padding-top: 1rem;   
}

.nav-item{
    text-decoration: none;
    margin-right: 5rem;
    font-family:'Times New Roman', Times, serif; 
    color: black;  
}

.nav{
    width: 100%;
    height: 40px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(216, 216, 216, 0.3);  
}
/* Nav Bar CSS End */


/* marquee headline CSS start */
.marquee1{
    padding: 20px;
}
/* marquee headline CSS start */


.date{
    display: flex;
    justify-content: center;
    color: rgb(80, 80, 80);
    font-size: small;
}



body{
    background-color: white;
}

.main{
    width: 100%;
    height: 900px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(178, 178, 178, 0.3);
}


.news1{
    width: 20rem;
    height: 15rem;
    border-radius: 10px;
    float: left;
    margin-right: 50px;
    box-shadow: 1px 1px 1px rgb(185, 185, 185);
}

.BJP{
    color: red;
}

.twitter{
    float: left;
    margin-left: 20px;
    width: 10rem;
    height: 15.5rem;
    border-radius: 10px;
    margin-top: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(107, 107, 107, 0.3);
}

.twitter-id{
    font-size: small;
}

.div-img{
    width: 9.5rem;
    border-radius: 10px;
    padding: 5px
}

.icon-twitter{
    width: 2rem;
    height: 2rem;
    float: left;
    margin-right: 0.2rem;
    font-size: 100px
}

.twitter-div-font{
    font-size: 10PX;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    margin-top: 1rem;
}

.youtube{
    float: right;
    width: 30rem;
    border-radius: 10px;
    margin: 2rem;
}