.header{
    padding: 10px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
    margin-left: 40px;
    text-decoration: none;
}

.nav-item{
    margin-left: 60px;
    text-decoration: none
}